---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar';
import AboutHero from '../components/about/AboutHero.astro';
import Mission from '../components/about/Mission.astro';
import CoreValues from '../components/about/CoreValues.astro';
import Timeline from '../components/about/Timeline.astro';
import Team from '../components/about/Team.astro';
import Impact from '../components/about/Impact.astro';
import CallToAction from '../components/about/CallToAction.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="About - Z2pi">
  <Navbar client:load />
  <main class="bg-gray-900">
    <AboutHero />
    <Mission />
    <CoreValues />
    <Timeline />
    <Team />
    <Impact />
    <CallToAction />
  </main>
  <Footer />
</Layout>